page-adicionales {
    .formato-logo {
        width: 30%;
        height: 25%;
        display: block;
        margin: auto;
    }
    .formato-next {
        width: 40px;
        height: 50px;
        margin-right: 5px;
        margin: auto;
        vertical-align: middle;
    }
    #mensaje {
        margin-top: 15px;
    }
    ion-tabs {
        span {
            padding-top: 10px
        }
        //esta es la cabecera
        //background-color: red !important;
        /*a {
            padding-top: 10px;
            vertical-align: middle
        }*/
    }
}