page-forma-entrega {
    .formato-logo {
        width: 30%;
        height: 25%;
        display: block;
        margin: auto;
    }
    .formato-next {
        width: 40px;
        height: 50px;
        margin-right: 5px;
        margin: auto;
        vertical-align: middle;
    }
    ion-item img {
        height: 30vh !important;
        width: auto !important;
        display: block;
        margin: 0 auto;
    }
}