page-bordes {
    ion-label {
        //height: 100%;
        padding-top: 30px;
        //vertical-align: middle;
        h1 {
            color: #C85256;
        }
    }
    /*h2 {
        display: inline-block;
        vertical-align: bottom;
    }*/
}