page-contactanos {
    @font-face {
        font-family: 'AllStar';
        src: url('../../fonts/All_Star_Resort.ttf')format('ttf'); //mine
        //font-weight: bold
    }
    @font-face {
        font-family: 'Helvetica';
        src: url('../../fonts/Helvetica.ttf')format('ttf'); //mine
    }
    .TitleContact {
        font-family: "Helvetica" !important;
        font-weight: bold;
    }
    .ContentContactConven {
        font-family: 'AllStar' !important;
        font-weight: bold
    }
    .ContentContact {
        font-family: "Helvetica" !important;
        font-weight: lighter;
    }
    .user-photo ion-avatar {
        margin: 0 auto;
        //text-align: center;
        width: 120px;
        height: 120px;
        margin-bottom: 5vh;
    }
    #over {
        margin-top: -10px;
        //border-color: #BE1D3E;
        //text-align: center;
        align-content: center;
        margin-left: 8px;
        margin-right: 8px;
        float: left;
    }
    #socialNetwork {
        margin-top: 0px;
        //border-color: #BE1D3E;
        float: left;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #over2 {
        margin-top: -15px;
        //border-color: #BE1D3E;
        text-align: center;
    }
    ion-list {
        margin-top: 24px;
        p {
            font-size: 12px;
            font-weight: 400;
            padding-bottom: 4px;
            //margin-bottom: 4px;
            color: #01DFA5 !important;
        }
        ;
        h2 {
            //height: 20px;
            font-weight: 400;
            //opacity: .5;
            a {
                text-decoration: none;
            }
        }
    }
}