<ion-header>
    <ion-navbar color="primary" hideBackButton="true">
        <!--<button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>-->
        <ion-buttons left>
            <button ion-button navPop style="height:100%">
            <img class="formato-next" src='assets/imgs/anterior.png'>
            </button>
        </ion-buttons>
        <ion-title>
            <img float-center class="formato-logo" src="assets/imgs/pizza.png">
        </ion-title>
        <!--<img class="formato-logo" src="assets/imgs/logotipon.png">
        <button float-right style="color: #1ABC9C; width: 22%; height: 13%; margin-top:-12%; padding-top:0%," ion-button clear small icon-start (click)="ordenar()">
                <img class="imagen-boton" src="assets/imgs/carritoc.png" />
        </button>-->
        <ion-buttons end>
            <!-- [hidden]="tabActivo != 'ingredientes'" float-right color="transparent" ion-button (click)="siguiente()"-->
            <button ion-button style="height:100%; visibility: hidden" (click)="ordenar()">
                    <!--<ion-icon name="menu"></ion-icon>-->    
                <img class="formato-next-car" src='assets/imgs/carro-compras.png'>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding class="cards-bg">

    <ion-card class="formato-card-secondary">
        <ion-grid>
            <ion-row justify-content-center align-items-center>
                <ion-col col-12>
                    <ion-card class="formato-card-terceary">
                        <ion-row class="formato-card-header" color="secondary_red">
                            <ion-col col-2>
                                <img class="imagen-promo-tamano" src="assets/imgs/pizzofono.png" />
                            </ion-col>
                            <ion-col class="formato-card-header-title" col-10>
                                <ion-row class="text-card-header" justify-content-left align-items-left>
                                    <h4 *ngIf="formaEntrega=='1'">
                                        Confirme su teléfono y dirección:
                                    </h4>
                                    <h4 *ngIf="formaEntrega=='0'">
                                        Confirme su teléfono:
                                    </h4>
                                </ion-row>
                            </ion-col>
                            <!--<ion-col col-2>
                                <img class="imagen-boton" style="visibility: hidden;" tappable (click)="eliminarElemento(pizza , 'TRADICIONAL')" src="assets/imgs/eliminado2.png" />
                            </ion-col>-->
                        </ion-row>

                        <ion-card-content>
                            <ion-row class="formato-card-content-row-1" style="height: cover;">
                                <ion-col col-12 style="text-align: center;">
                                    <div no-padding name>
                                        <!--<span class="title">Nombres: </span>-->
                                        <h4>{{nombres}} {{apellidos}}</h4>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <form class="form" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
                                <ion-row class="formato-card-content-row-1" style="height: cover">
                                    <ion-col col-4 style="text-align: left; height: 100%; width: cover;">
                                        <div no-padding name>
                                            <span class="title">Contacto: </span>
                                            <!--<ion-input formControlName="telefono" value={{telefono}} [(ngModel)]="telefono"></ion-input>-->
                                        </div>
                                    </ion-col>
                                    <ion-col col-8 style="text-align: left; height: 100%;">
                                        <div no-padding name>
                                            <!--<span class="title">Teléfono: </span>-->
                                            <ion-input formControlName="telefono" value={{telefono}} [(ngModel)]="telefono"></ion-input>
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row *ngIf="formaEntrega=='1'" class="formato-card-content-row-1" style="height: cover">
                                    <ion-col col-4 style="text-align: left; height: 100%; width: cover;">
                                        <div no-padding name>
                                            <span class="title">Dirección: </span>
                                            <!--<ion-input formControlName="telefono" value={{telefono}} [(ngModel)]="telefono"></ion-input>-->
                                        </div>
                                    </ion-col>
                                    <ion-col col-8 style="text-align: left; height: 100%;">
                                        <div no-padding name>
                                            <!--<span class="title">Teléfono: </span>-->
                                            <ion-input formControlName="direccion" value={{direccion}} [(ngModel)]="direccion"></ion-input>
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <!--<ion-row *ngIf="validations_form.get('telefono').hasError(validation.type) && (validations_form.get('telefono').dirty || validations_form.get('telefono').touched)" class="formato-card-content-row-1" style="height: cover">
                                    <ion-col col-12 style="text-align: left; height: cover;">
                                        <div class="validation-errors">
                                            <ng-container *ngFor="let validation of validation_messages.telefono">
                                                <div class="error-message" *ngIf="validations_form.get('telefono').hasError(validation.type) && (validations_form.get('telefono').dirty || validations_form.get('telefono').touched)">
                                                    {{ validation.message }}
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ion-col>
                                </ion-row>-->
                            </form>
                            <ion-row class="formato-card-content-row-1" style="height: cover;">
                                <ion-col col-4 style="text-align: left; height: 100%; width: cover;">
                                    <div no-padding name>
                                        <span class="title">Pedido: </span>
                                        <!--<ion-input formControlName="telefono" value={{telefono}} [(ngModel)]="telefono"></ion-input>-->
                                    </div>
                                </ion-col>
                                <ion-col col-8 style="text-align: left; height: 100%;">
                                    <div no-padding name>
                                        <!--<span class="title">Teléfono: </span>-->
                                        <span>$ {{costoTotal| number : '1.2-2'}}</span>
                                    </div>
                                </ion-col>
                                <!--<ion-col col-12 style="text-align: left;">
                                    <div no-padding name>
                                        <span class="title">Pedido: </span>
                                        <span>$ {{costoTotal| number : '1.2-2'}}</span>
                                    </div>
                                </ion-col>-->
                            </ion-row>
                            <ion-row class="formato-card-content-row-1" style="height: cover;">
                                <ion-col col-4 style="text-align: left; height: 100%; width: cover;">
                                    <div no-padding name>
                                        <span class="title">Delivery: </span>
                                        <!--<ion-input formControlName="telefono" value={{telefono}} [(ngModel)]="telefono"></ion-input>-->
                                    </div>
                                </ion-col>
                                <ion-col col-8 style="text-align: left; height: 100%;">
                                    <div no-padding name>
                                        <!--<span class="title">Teléfono: </span>-->
                                        <span>$ {{delivery| number : '1.2-2'}}</span>
                                    </div>
                                </ion-col>
                                <!--<ion-col col-12 style="text-align: left;">
                                    <div no-padding name>
                                        <span class="title">Delivery: </span>
                                        <span>$ {{delivery| number : '1.2-2'}}</span>
                                    </div>
                                </ion-col>-->
                            </ion-row>
                            <ion-row class="formato-card-content-row-1" style="height: cover;margin-top: 20px">
                                <ion-col col-12 style="text-align: center;">
                                    <div no-padding name>
                                        <!--<span class="title">Nombres: </span>-->
                                        <h2>$ {{costoTotal+delivery | number : '1.2-2'}}</h2>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ion-row class="formato-card-content-row-1" style="height: cover;">
                                <ion-col col-12 style="text-align: center;">
                                    <div no-padding name>
                                        <span class="title">Valor Total</span>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ion-row justify-content-center align-items-center>
                                <ion-col col-12 style="text-align: center;">
                                    <div no-padding>
                                        <button ion-button style="background-color: transparent; height : 100%; box-shadow: none;" [disabled]="!validations_form.valid" (click)="enviarPedido()">
                                                    <!--<ion-icon name="menu"></ion-icon>-->    
                                                    <img src="assets/imgs/envíar.png" class="button-send" >
                                            </button>

                                        <!--<button ion-button class="button-send" (click)="enviarPedido()" [disabled]="!validations_form.valid">
                                            </button>-->
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

</ion-content>