<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu">
            </ion-icon>
        </button>
        <ion-title>
            <img float-center class="formato-logo" src="assets/imgs/pizza.png">
        </ion-title>
        <ion-buttons end>
            <!-- [hidden]="tabActivo != 'ingredientes'" float-right color="transparent" ion-button (click)="siguiente()"-->
            <button ion-button style="height:100%;visibility: hidden">
                    <!--<ion-icon name="menu"></ion-icon>-->    
                <img class="formato-next" src='assets/imgs/siguiente.png'>
            </button>
        </ion-buttons>
        <!--<ion-buttons end>
      <button ion-button tappable (click)="carrito()">
        <ion-icon id="carrito" name="cart"></ion-icon>
         <img width="25px" height="25px" src="carro-compras.png"/> 
      </button> 
    </ion-buttons>-->
    </ion-navbar>

</ion-header>

<ion-content padding>
    <!--(ionSlideWillChange)="slideChange()" -->
    <ion-slides #slides *ngIf="grupos && grupos.length" id="banner-slide" autoplay="5000" loop="true" speed="{{tiempobanner}}" slidesPerView="1" class="swiper-no-swiping" autoplayDisableOnInteraction="false">
        <ion-slide *ngFor="let grupo of grupos">
            <span>
                <img class="banner" src="{{grupo.img_url}}" alt="">
            </span>
        </ion-slide>
    </ion-slides>
    <!--<img class="banner" src="assets/imgs/recursobanner.png" />-->

    <!---<ion-row>
        <ion-col>
            <p>Horario de Atención</p>
            <span>{{diaActual}}</span>
        </ion-col>
    </ion-row>-->

    <ion-grid no-padding>
        <ion-row>
            <ion-col>
                <ion-card class="boton" (click)="combos($event)" style="background-color: transparent;">
                    <!--<img class="formato-imagen" src="assets/imgs/boton1.png" />-->
                    <ion-slides #slides *ngIf="grupoImgOp && grupoImgOp.length" id="option-slide" autoplay="5000" loop="true" speed="{{tiempoOp1}}" slidesPerView="1" class="swiper-no-swiping">
                        <ion-slide *ngFor="let grupo of grupoImgOp">
                            <span>
                                <img src="{{grupo.img_url}}" alt="">
                            </span>
                        </ion-slide>
                    </ion-slides>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="boton" (click)="combosnuevos($event)" style="background-color: transparent;">
                    <!--(click)="tradicionales($event)"   <img class="formato-imagen" src="assets/imgs/boton2.png" />
                -->
                    <ion-slides #slides *ngIf="grupoImg2Op && grupoImg2Op.length" id="option-slide" autoplay="5000" loop="true" speed="{{tiempoOp2}}" slidesPerView="1" class="swiper-no-swiping">
                        <ion-slide *ngFor="let grupo of grupoImg2Op">
                            <span>
                                <img src="{{grupo.img_url}}" alt="">
                            </span>
                        </ion-slide>
                    </ion-slides>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class="boton" (click)="tradicionales($event)" style="background-color: transparent;">
                    <!--<img class="formato-imagen" src="assets/imgs/boton2.png" />
                -->
                    <ion-slides #slides *ngIf="grupoImg3Op && grupoImg3Op.length" id="option-slide" autoplay="5000" loop="true" speed="{{tiempoOp3}}" slidesPerView="1" class="swiper-no-swiping">
                        <ion-slide *ngFor="let grupo of grupoImg3Op">
                            <span>
                                <img src="{{grupo.img_url}}" alt="">
                            </span>
                        </ion-slide>
                    </ion-slides>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="boton" (click)="ordenarPizza($event)" style="background-color: transparent;">
                    <!--<img class="formato-imagen" src="assets/imgs/boton3.png" />
                    -->
                    <ion-slides #slides *ngIf="grupoImg4Op && grupoImg4Op.length" id="option-slide" autoplay="5000" loop="true" speed="{{tiempoOp4}}" slidesPerView="1" class="swiper-no-swiping">
                        <ion-slide *ngFor="let grupo of grupoImg4Op">
                            <span>
                                <img src="{{grupo.img_url}}" alt="">
                            </span>
                        </ion-slide>
                    </ion-slides>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class="boton" (click)="favoritas($event)" style="background-color: transparent;">
                    <!--<img class="formato-imagen" src="assets/imgs/boton4.png" />
                        -->
                    <ion-slides #slides *ngIf="grupoImg5Op && grupoImg5Op.length" id="option-slide" autoplay="5000" loop="true" speed="{{tiempoOp5}}" slidesPerView="1" class="swiper-no-swiping">
                        <ion-slide *ngFor="let grupo of grupoImg5Op">
                            <span>
                                <img src="{{grupo.img_url}}" alt="">
                            </span>
                        </ion-slide>
                    </ion-slides>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="boton" (click)="status($event)" style="background-color: transparent;">
                    <!--<img class="formato-imagen" src="assets/imgs/boton3.png" />
                    -->
                    <ion-slides #slides *ngIf="grupoImg6Op && grupoImg6Op.length" id="option-slide" autoplay="5000" loop="true" speed="{{tiempoOp6}}" slidesPerView="1" class="swiper-no-swiping">
                        <ion-slide *ngFor="let grupo of grupoImg6Op">
                            <span>
                                <img src="{{grupo.img_url}}" alt="">
                            </span>
                        </ion-slide>
                    </ion-slides>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <h4 class="formato-span-secondary" text-center>¡Cada día algo especial para ti!</h4>
</ion-content>