page-lista-pedidos {
    .formato-next {
        width: 40px;
        height: 50px;
        margin-right: 5px;
        margin: auto;
        vertical-align: middle;
    }
    .formato-next-button {
        background-color: transparent;
    }
}