<ion-header>
    <ion-navbar color="primary" hideBackButton="true">
        <!--<button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>-->
        <ion-buttons left>
            <button ion-button (click)="cerrarPage();" style="height:100%">
            <img class="formato-next" src='assets/imgs/anterior.png'>
            </button>
        </ion-buttons>
        <ion-title>
            <img float-center class="formato-logo" src="assets/imgs/pizza.png">
        </ion-title>
        <ion-buttons end>
            <!-- [hidden]="tabActivo != 'ingredientes'" float-right color="transparent" ion-button (click)="siguiente()"-->
            <button ion-button style="height:100%;visibility: hidden">
                  <!--<ion-icon name="menu"></ion-icon>-->    
              <img class="formato-next" src='assets/imgs/siguiente.png'>
          </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="cards-bg">
    <ion-card *ngIf="combos.length == 0">
        <ion-card-header>
            No hay combos :(
        </ion-card-header>
        <ion-card-content>
            Actualmente no contamos con combos promocionales en nuestro stock
        </ion-card-content>
    </ion-card>
    <div justify-content-center align-items-center class="formato-span-secondary">
        <span>PROMOCIONES DE LA SEMANA</span><br>
    </div>
    <div class="formato-span-terc">
        <span>Selecciona la promo para verla a detalle</span>
    </div>
    <ion-card no-padding class="formato-main-card">
        <ion-grid>
            <ion-row justify-content-center align-items-center>
                <ion-col>
                    <ion-card class="formato-card color-card-second-left">
                        <button class="formato-boton-label" text-center ion-button clear small icon-start (click)="abrirModalLunes($event)">
                                    <div class="formato-span">
                                            <span>LUNES</span>
                                        </div>
                            </button>
                        <button class="formato-boton" ion-button clear small color="danger" icon-start (click)="abrirModalLunes($event)">
                            <img src="assets/imgs/promolunes.png">
                        </button>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card class="formato-card-last color-card-second-left">
                        <button class="formato-boton-label" text-center ion-button clear small icon-start (click)="abrirModalMartes($event)">
                                    <div class="formato-span">
                                            <span>MARTES</span>
                                        </div>
                            </button>
                        <button class="formato-boton" ion-button clear small color="danger" icon-start (click)="abrirModalMartes($event)">
                            <img src="assets/imgs/Super-3x1.png">
                        </button>
                    </ion-card>
                </ion-col>

            </ion-row>
            <ion-row justify-content-center align-items-center>
                <ion-col>
                    <ion-card class="formato-card color-card-second-right">
                        <button class="formato-boton-label" text-center ion-button clear small icon-start (click)="abrirModalMiercoles($event)">
                                    <div class="formato-span">
                                            <span>MIÉRCOLES</span>
                                        </div>
                            </button>
                        <button class="formato-boton" ion-button clear small color="danger" icon-start (click)="abrirModalMiercoles($event)">
                            <img src="assets/imgs/Miercoles-tripleta.png">
                        </button>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card class="formato-card color-card-second-left">
                        <button class="formato-boton-label" text-center ion-button clear small icon-start (click)="abrirModalJueves($event)">
                                    <div class="formato-span">
                                            <span>JUEVES</span>
                                        </div>
                            </button>
                        <button class="formato-boton" ion-button clear small color="danger" icon-start (click)="abrirModalJueves($event)">
              <img src="assets/imgs/Jueves-sorpresa.png">
            </button>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row justify-content-center align-items-center>
                <ion-col>
                    <ion-card class="formato-card color-card-second-right">
                        <button class="formato-boton-label" text-center ion-button clear small icon-start (click)="abrirModalMartes($event)">
                                    <div class="formato-span">
                                            <span>VIERNES</span>
                                        </div>
                            </button>
                        <button class="formato-boton" ion-button clear small color="danger" icon-start (click)="abrirModalMartes($event)">
                                    <img src="assets/imgs/Super-3x1.png">
                                </button>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card class="formato-card color-card-second-left">
                        <button class="formato-boton-label" text-center ion-button clear small icon-start (click)="abrirModalSabado($event)">
                                    <div class="formato-span">
                                            <span>SÁBADO</span>
                                        </div>
                            </button>

                        <button class="formato-boton" ion-button clear small color="danger" icon-start (click)="abrirModalSabado($event)">
              <img src="assets/imgs/tetra-pack.png">
            </button>
                    </ion-card>
                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card class="formato-card color-card-second-right">
                        <button class="formato-boton-label" text-center ion-button clear small icon-start (click)="abrirModalDomingo($event)">
                                    <div class="formato-span">
                                            <span>DOMINGO</span>
                                        </div>
                            </button>
                        <button class="formato-boton" ion-button clear small color="danger" icon-start (click)="abrirModalDomingo($event)">
                      <img class="imagen-tamano" src="assets/imgs/promon-domingo.png">
                    </button>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card *ngIf="combosEspeciales.length<=0" style="visibility: hidden" class="formato-card color-card-second-right">
                        <div class="formato-span">
                            <span>ESPECIAL</span>
                        </div>
                        <button class="formato-boton" ion-button clear small color="danger" icon-start>
                        <img class="imagen-tamano" src="assets/imgs/lunes-todo-1.png">
                    </button>
                    </ion-card>
                    <ion-card *ngIf="combosEspeciales.length>0" class="formato-card color-card-second-right">
                        <button class="formato-boton-label" text-center ion-button clear small icon-start (click)="abrirModalDomingo($event)">
                            <div class="formato-span">
                                <span>MAGIC DAY</span>
                            </div>
                            
                    </button>

                        <button class="formato-boton" ion-button clear small color="danger" icon-start (click)="abrirModalEspecial($event)">
                        <img class="imagen-tamano" src="{{combosEspeciales[0].IMAGEN_PORTADA}}">
                    </button>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <!--
  <ion-list *ngIf="combos.length > 0">
    <ion-item *ngFor="let combo of combos">
      <ion-card>
        <img src="{{combo.IMAGEN_URL}}" />
        <ion-card-content>
          <ion-card-title>
            {{combo.NOMBRE}}
            <br>
            <ion-icon name='logo-usd'>{{ combo.COSTO }}</ion-icon>
          </ion-card-title>

        </ion-card-content>
        <ion-row no-padding>
          <ion-col text-center>
            <button id="{{combo.id}}" ion-button clear small color="danger" icon-start
              (click)="crear(combo.NOMBRE, combo.COSTO, combo)">
              <ion-icon name='cart'></ion-icon>
              Ordenar
            </button>
            <button id="detalle_{{combo.id}}" ion-button clear small color="danger" icon-start (click)="detalle(combo)">
              <ion-icon name='disc'></ion-icon>
              Detalle
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content> -->