page-acompanantes {
    .checkbox {
        //max-width: 20% !important;
        height: cover;
        margin-top: -2px;
        margin-right: -60px;
        //margin-top: -12px;
    }
    /*ion-col:nth-child(2) {
        // {
        //height: 100%;
        //padding-top: 12px;
        //padding-left: 10px //margin-top: 0px;
        //vertical-align: middle;
    }*/
    .formato-add {
        width: 20px;
        height: 20px;
        //padding-left: 4px;
        //margin-right: 5px;
        //margin: auto;
        //vertical-align: middle;
    }
    .formato-remove {
        width: 20px;
        height: 20px;
        //padding-right: 4px; //margin-right: 5px;
        //margin: auto;
        //vertical-align: middle;
    }
    ion-col {
        //margin-top: 30px;
        h1 {
            color: #C85256;
        }
    }
    .body {
        //margin-top: -20px;
        ion-item {
            width: 150px;
        }
    }
    .resumen {
        margin-top: 5px;
        width: 60px;
        /*ion-row:nth-child(2) {
            margin-left: -10px;
        }*/
    }
}