<ion-header>
    <ion-navbar color="primary">
        <ion-title>perfil - Editar</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="guardarPerfil()" [disabled]="!validations_form.valid">
          <ion-icon id="carrito" name="checkmark-circle" item-right></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="form-content">
    <div class="user-photo" padding-top>
        <ion-avatar>
            <img *ngIf="datosUsuario.imagenUrl == null || datosUsuario.imagenUrl == ''  " src="assets/imgs/profile_avatar.png" (click)="abrirGaleria()">
            <img *ngIf="datosUsuario.imagenUrl != null || datosUsuario.imagenUrl != '' " src="{{datosUsuario.imagenUrl}}" (click)="abrirGaleria()">
            <img *ngIf="imagenPerfilBase64 != null" [src]="imagenPerfilBase64" (click)="abrirGaleria()">
        </ion-avatar>
    </div>
    <form class="form" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
        <ion-item>
            <ion-label floating color="primary">
                <ion-icon name="nombres" slot="start" color="primary"></ion-icon>
                <strong>Nombres (obligatorio)</strong>
            </ion-label>
            <ion-input formControlName="nombres" value={{datosUsuario.nombres}} [(ngModel)]="nombres" class="form-controll" required></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.nombres">
                <div class="error-message" *ngIf="validations_form.get('nombres').hasError(validation.type) && (validations_form.get('nombres').dirty || validations_form.get('nombres').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-item>
            <ion-label floating color="primary">
                <ion-icon name="apellidos" slot="start" color="primary"></ion-icon>
                <strong>Apellidos (obligatorio)</strong>
            </ion-label>
            <ion-input formControlName="apellidos" value={{datosUsuario.apellidos}} [(ngModel)]="apellidos"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.apellidos">
                <div class="error-message" *ngIf="validations_form.get('apellidos').hasError(validation.type) && (validations_form.get('apellidos').dirty || validations_form.get('apellidos').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-item>
            <ion-label floating color="primary">
                <ion-icon name="correo" slot="start" color="primary"></ion-icon>
                <strong>Correo (obligatorio)</strong>
            </ion-label>
            <ion-input formControlName="correo" value={{datosUsuario.correo}} [(ngModel)]="correo"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.correo">
                <div class="error-message" *ngIf="validations_form.get('correo').hasError(validation.type) && (validations_form.get('correo').dirty || validations_form.get('correo').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-item>
            <ion-label floating color="primary">
                <ion-icon name="cedula" slot="start" color="primary"></ion-icon>
                <strong>Documento de identidad (opcional)</strong>
            </ion-label>
            <ion-input formControlName="cedula" value={{datosUsuario.cedula}} [(ngModel)]="cedula"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.cedula">
                <div class="error-message" *ngIf="validations_form.get('cedula').hasError(validation.type) && (validations_form.get('cedula').dirty || validations_form.get('cedula').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-item>
            <ion-label floating color="primary">
                <ion-icon name="telefono" slot="start" color="primary"></ion-icon>
                <strong>Teléfono de facturación (obligatorio)</strong>
            </ion-label>
            <ion-input formControlName="telefono" value={{datosUsuario.telefono}} [(ngModel)]="telefono"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating color="primary">
                <ion-icon name="telefonoEntrega" slot="start" color="primary"></ion-icon>
                <strong>Teléfono de entrega (opcional)</strong>
            </ion-label>
            <ion-input formControlName="telefonoEntrega" value={{datosUsuario.telefonoEntrega}} [(ngModel)]="telefonoEntrega"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.telefonoEntrega">
                <div class="error-message" *ngIf="validations_form.get('telefonoEntrega').hasError(validation.type) && (validations_form.get('telefonoEntrega').dirty || validations_form.get('telefonoEntrega').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <ion-item>
            <ion-label floating color="primary">
                <ion-icon name="telefono" slot="start" color="primary"></ion-icon>
                <strong>Teléfono fijo (opcional)</strong>
            </ion-label>
            <ion-input formControlName="tel_fijo" value={{datosUsuario.tel_fijo}} [(ngModel)]="tel_fijo"></ion-input>
        </ion-item>
        <!--<div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.tel_fijo">
                <div class="error-message" *ngIf="validations_form.get('tel_fijo').hasError(validation.type) && (validations_form.get('tel_fijo').dirty || validations_form.get('tel_fijo').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>-->
        <ion-item>
            <ion-label floating color="primary">Dirección de facturación(opcional)</ion-label>
            <ion-input value={{datosUsuario.direccion}} type="text" [(ngModel)]="datosUsuario.direccion" formControlName="direccion"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.direccion">
                <div class="error-message" *ngIf="validations_form.get('direccion').hasError(validation.type) && (validations_form.get('direccion').dirty || validations_form.get('direccion').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <ion-item>
            <ion-label floating color="primary">Dirección de entrega (opcional)</ion-label>
            <ion-input value={{datosUsuario.direccionEntrega}} type="text" [(ngModel)]="datosUsuario.direccionEntrega" formControlName="direccion"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.direccionEntrega">
                <div class="error-message" *ngIf="validations_form.get('direccionEntrega').hasError(validation.type) && (validations_form.get('direccionEntrega').dirty || validations_form.get('direccionEntrega').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <ion-item>
            <ion-label floating color="primary">Fecha de nacimiento</ion-label>
            <!-- formControlName="DoB" formControlName="DoB"-->
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="datosUsuario.DoB" [ngModelOptions]="{standalone: true}" pickerFormat="DD MMM YYYY" min="1940" max="{{year}}" monthShortNames='Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic'>
            </ion-datetime>
        </ion-item>
    </form>

</ion-content>