page-registro-form {
    .user-photo ion-avatar {
        margin: 0 auto;
        width: 120px;
        height: 120px;
        margin-bottom: 5vh;
    }
    ion-label {
        padding-top: 3px;
        //padding-bottom: -3px;
        //margin-bottom: -5px;
    }
    /*ion-input {
        ion-label {
            margin-top: 10px;
        }
    }
    #labelForm {
        padding-top: 10px;
    }*/
    #checklabel {
        text-align: center;
        margin-top: -10px;
        height: 70px;
        width: 300px;
    }
    /*ion-item:nth-child(5) {
        margin-bottom: -5px;
    }*/
}

.icono-input {
    color: rgba(192, 192, 192, 0.85);
}