<ion-header>
    <ion-navbar color="primary" hideBackButton="true">
        <!--<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>-->
        <!--<img class="formato-logo" src="assets/imgs/logo.png">-->
        <ion-buttons left>
            <button ion-button (click)="cerrarPage();" style="height:100%">
          <img class="formato-next" src='assets/imgs/anterior.png'>
          </button>
        </ion-buttons>
        <ion-title>
            <img float-center class="formato-logo" src="assets/imgs/pizza.png">
        </ion-title>
        <ion-buttons end>
            <!-- [hidden]="tabActivo != 'ingredientes'" float-right color="transparent" ion-button (click)="siguiente()"-->
            <button ion-button style="height:100%;visibility: hidden">
                <!--<ion-icon name="menu"></ion-icon>-->    
            <img class="formato-next" src='assets/imgs/siguiente.png'>
        </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content paddingc class="cards-bg">
    <div class="formato-span-secondary">
        <span>NUESTRAS PIZZAS</span><br>
    </div><br>
    <div class="formato-span-terc">
        <span>Selecciona el tamaño de la pizza</span><br>
    </div>
    <ion-row radio-group [(ngModel)]="tamanoElegido">
        <ion-col *ngFor="let tamano of tamanos" col-4>
            <div float-left no-padding style="width: 100%;" color="secondary_white">
                <ion-radio style="padding-top:0%; padding-bottom: 0%; margin-left:8%;" [value]="tamano" #tamanoSelect (ionSelect)="cambiarPrecio()">
                    {{tamano.nombre}}
                </ion-radio>
                <ion-label *ngIf="tamano.nombre!='Extra grande'" style="margin-top: -17%; margin-bottom: 0;" class="formato-span-terc">{{tamano.nombre}}</ion-label>
                <ion-label *ngIf="tamano.nombre=='Extra grande'" style="margin-top: -19%; margin-bottom: 0;margin-left: 14px; padding-top: 3px" class="formato-span-terc">{{tamano.nombre}}
                </ion-label>
            </div>
        </ion-col>
    </ion-row>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let pizza of pizzas; let i = index" col-6>
                <ion-card class="formato-card-terceary">
                    <button *ngIf="pizza.favorita == 1" id="{{pizza.id}}" ion-button clear small color="primary" icon-start (click)="favorito(pizza)">
                <ion-icon name='heart'></ion-icon>
              </button>
                    <button *ngIf="pizza.favorita == 0" id="{{pizza.id}}" ion-button clear small color="primary" icon-start (click)="favorito(pizza)">
                <ion-icon name='heart-outline'></ion-icon>
              </button>
                    <!--style="color: #1ABC9C; height: 15%; margin-top:0%; margin-right:0%;"-->
                    <button class="formato-next-pizza" float-right no-padding ion-button clear small icon-start (click)="ordenar(pizza)">
                  <img class="imagen-boton" src="assets/imgs/carro-compras2.png"/>
                </button>
                    <!--<img class="formato-next-pizza" src='assets/imgs/carro-compras.png'>-->
                    <!--assets/imgs/4-Estaciones1.png-->
                    <img class="imagen-pizza-tamano" src="{{pizza.imgUrl}}" />
                    <ion-card-content>
                        <ion-card-title class="formato-fuente">
                            {{pizza.nombre}}
                        </ion-card-title>
                        <ion-textarea no-padding class="formato-fuente-second" rows="3" cols="1" readonly value="{{pizza.descripcion}}">
                        </ion-textarea>
                        <div class="formato-span-terc">
                            <span>Selecciona el borde</span><br>
                        </div>
                        <ion-row radio-group [(ngModel)]="bordesElegidos[i]">
                            <ion-col *ngFor="let borde of bordes" col-12>
                                <div float-left no-padding style="width: 100%;" color="secondary_white">
                                    <ion-radio style="padding-top:0%; padding-bottom: 0%; margin-left:4%;" [value]="borde" #tamanoSelect (ionSelect)="cambiarBorde(pizza,i)">
                                        {{borde.nombre}}
                                    </ion-radio>
                                    <ion-label *ngIf="borde.nombre!='Mozzarella'" style="margin-top: -17%; margin-bottom: 0;margin-left: 10px;" class="formato-span-terc">{{borde.nombre}} + {{borde.costo}}</ion-label>
                                    <ion-label *ngIf="borde.nombre=='Mozzarella'" style="margin-top: -17%; margin-bottom: 0;margin-left: 17px;" class="formato-span-terc">{{borde.nombre}} + {{borde.costo}}</ion-label>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-4>
                                <img *ngIf="pizza.tamano == 'Silver'" class="imagen-tamano" src="assets/imgs/silver.png" />
                                <img *ngIf="pizza.tamano == 'Gold'" class="imagen-tamano" src="assets/imgs/gold.png" />
                                <img *ngIf="pizza.tamano == 'Platinum'" class="imagen-tamano" src="assets/imgs/platinum.png" />
                                <!--<span no-padding style="margin-left: 3%; font-size: 70%; margin-top: 0%; margin-bottom: 0%;" text-left>Desde</span>-->
                            </ion-col>
                            <ion-col col-8>
                                <span no-padding style="color: #1ABC9C; font-size: 110%; margin-top: 0%; margin-bottom: 0%;">$ {{costos[i] | number:'1.2-2'}}</span>
                            </ion-col>
                        </ion-row>

                        <!--{% if COBERTURA.estado %}<img no-padding style="margin-left: 3%; font-size: 70%; margin-top: 0%; margin-bottom: 0%;" text-left src="assets/imgs/silver.png" />-->

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!--
  <ion-list>
    <ion-item *ngFor="let pizza of pizzas">
      <ion-card color="innercard">
        <img src="{{pizza.imgUrl}}" />
        <ion-card-content>
          <ion-card-title>
            {{pizza.nombre}}
          </ion-card-title>
          <p>
            {{pizza.descripcion}}
          </p>
          <p>
            {{pizza.costo}}
          </p>
        </ion-card-content>
        <ion-row no-padding>
          <ion-col *ngIf="pizza.favorita == 1">
            <button id="{{pizza.id}}" ion-button clear small color="primary" icon-start (click)="favorito(pizza)">
              <ion-icon name='heart'></ion-icon>
              Favorita
            </button>
          </ion-col>
          <ion-col *ngIf="pizza.favorita == 0">
            <button id="{{pizza.id}}" ion-button clear small color="primary" icon-start (click)="favorito(pizza)">
              <ion-icon name='heart-outline'></ion-icon>
              <strong>Favorita</strong>
            </button>
          </ion-col>
          <ion-col text-center></ion-col>
          <ion-col text-left>
            <button id="{{pizza.id}}" ion-button clear small color="primary" icon-start (click)="ordenar(pizza)">
              <ion-icon name='cart'></ion-icon>
              <strong>Ordenar</strong>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-list>-->
</ion-content>